In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import networkx as nx
import urllib

In [3]:
amazon_data = pd.read_csv("https://raw.githubusercontent.com/vitugo23/DATA607/main/DATA620/Amazon0302.txt")

In [4]:
amazon_data

        # Directed graph (each unordered pair of nodes is saved once): Amazon0302.txt
0        # Amazon product co-purchaisng network from Ma...
1                           # Nodes: 262111 Edges: 1234877
2                                   # FromNodeId\tToNodeId
3                                                     0\t1
4                                                     0\t2
...                                                    ...
1234875                                     262110\t262099
1234876                                     262110\t262100
1234877                                     262110\t262101
1234878                                     262110\t262106
1234879                                     262110\t262107

[1234880 rows x 1 columns]

In [6]:
edges = pd.read_csv("https://raw.githubusercontent.com/vitugo23/DATA607/main/DATA620/Amazon0302.txt", sep='\t',skiprows=4, header= None, names=['FromNodeId','ToNodeId'])

In [7]:
edges

         FromNodeId  ToNodeId
0                 0         1
1                 0         2
2                 0         3
3                 0         4
4                 0         5
...             ...       ...
1234872      262110    262099
1234873      262110    262100
1234874      262110    262101
1234875      262110    262106
1234876      262110    262107

[1234877 rows x 2 columns]

In [9]:
G = nx.from_pandas_edgelist(edges,source='FromNodeId',target='ToNodeId',
                            create_using=nx.DiGraph())
num_nodes=G.number_of_nodes()
num_edges =G.number_of_edges()
avg_degree = sum(dict(G.degree()).values()) /num_nodes
density=nx.density(G)

In [10]:
print(f"Number of nodes: {num_nodes}")
print(f"Number of edges: {num_edges}")
print(f"Average degree: {avg_degree:.2f}")
print(f"Density: {density:.6f}")

Number of nodes: 262111
Number of edges: 1234877
Average degree: 9.42
Density: 0.000018

In [11]:
try:
    diameter = nx.diameter(G)
except nx.NetworkXError:
    print("Graph is not strongly connected, diameter cannot be calculated directly.")

Graph is not strongly connected, diameter cannot be calculated directly.

In [13]:
degree_centrality = nx.degree_centrality(G)
degree_centrality_df = pd.DataFrame({
    'Degree Centrality': degree_centrality})
degree_centrality_df.sort_values(by='Degree Centrality',
                                 ascending=False).head(10)

       Degree Centrality
14949           0.001621
4429            0.001560
33              0.001396
10519           0.001293
12771           0.001278
8               0.001137
297             0.001068
481             0.001068
5737            0.001057
9106            0.000885

In [ ]:
closeness_centrality = nx.closeness_centrality(G)
betweenness_centrality=nx.betweenness_centrality(G)

In [ ]:
pos = nx.random_layout(G)

plt.figure(figsize=(12,10))
nx.draw_networkx_nodes(G, pos, node_size=10, node_color='blue',alpha=0.5)
nx.draw_networkx_edges(G, pos, width=0.5, arrows= True, edge_color='gray', alpha=0.7)
plt.title('Amazon Product Co-purchasing Network')
plt.axis('off')
plt.show()